#container{
  width: 450px;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: 1px black solid;
  border-radius: 5px;
}

#container2{
  display: flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 10px 0px 10px;
  user-select: none;
}

#display{
  margin: 10px;
  width: 430px;
  height: 100px;
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px black solid;
  align-items: end;
  padding: 0px 10px;
  font-family: 'Roboto Mono', monospace;
}

.display.number{
  width: 350px;
  height: 60px;
  background-color: inherit;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: end;
}

.display.operator{
  width: 100px;
  height: 20px;
  padding: 0px;
  margin: 10px 5px 0px 0px;
  background-color: inherit;
  text-align: end;
}

.others{
  width: 100px;
  height: 70px;
  display: flex;
  gap: 2px;
  background-color: purple;
  color: wheat;
}

  .others:hover{
    background-color: rgb(102, 0, 102);
  }

.number.button{
  width: 100px;
  height: 70px;
  display: flex;
  gap: 2px;
  background-color: grey;
  color: wheat;
}

  .number.button:hover{
    background-color: rgb(104, 104, 104);
    color: wheat;
  }

.operator{
  width: 100px;
  height: 70px;
  background-color: darkorange;
  gap: 2px;
  }

  .operator:hover{
    background-color: rgb(221, 122, 0);
  }

#zero{
  width: 208px;
}

.button{
  font-size: 30px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}

#percent{
  background-color: purple;
  color: wheat;
}
#percent:hover{
  background-color: rgb(102, 0, 102);
}

a{
  text-decoration: none;
  color: lightgrey;
  padding: 2px;
}